.cd-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 35px;
    width: 35px;
    background-color: #5d78ff;
    border-radius: 20%;
    color: white;
    font-size: 20px;
    opacity: .5;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 5px #000000bd;
    z-index: 105;

}
.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}
 .cd-top--is-visible {
    visibility: visible;
}
 .cd-top--fade-out {
    opacity: .5
}
.cd-top:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
}